<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Gerenciamento - Ativo & Operante</title>
    	<link href="https://getbootstrap.com.br/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    	<link href="https://getbootstrap.com.br/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
  	</head>
  	<body class="d-flex flex-column h-100">
    	<header>
      		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        		<a class="navbar-brand" href="index">Home</a>
        		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          			<span class="navbar-toggler-icon"></span>
        		</button>
        		<div class="collapse navbar-collapse" id="navbarCollapse">
          			<ul class="navbar-nav mr-auto">
            			<li class="nav-item">
              				<a class="nav-link" href="denuncias">Denúncias</a>
            			</li>
            			<li class="nav-item">
              				<a class="nav-link" href="orgaos">Órgãos</a>
            			</li>
            			<li class="nav-item">
              				<a class="nav-link" href="tipos">Tipos de Problemas</a>
            			</li>
          			</ul>
        		</div>
      		</nav>
    	</header>
    	
    	<main role="main" class="flex-shrink-0">
      		<div class="container">
        		<h1 class="mt-5">Ativo & Operante</h1>
        		<p class="lead">Seja um cidadão atento aos problemas do dia a dia. Avise e denuncie de forma eficiente e rápida os problemas que encontrar na sua comunidade. Instale o app Ativo e Operante!</p>
      		</div>
    	</main>
    	
    	<footer class="footer mt-auto py-3">
      		<div class="container">
        		<span class="text-muted">Mateus Fonseca Santos - Victor Gabriel Viana Da Costa</span>
      		</div>
    	</footer>
    	
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    	<script src="https://getbootstrap.com.br/docs/4.1/assets/js/vendor/popper.min.js"></script>
    	<script src="https://getbootstrap.com.br/docs/4.1/dist/js/bootstrap.min.js"></script>
 	</body>
</html>